# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Electron
dist/
dist-electron/
out/
*.exe
*.dmg
*.app
*.msi
*.snap
*.AppImage

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.env.local
.env.*.local

# Build outputs
build/*
!build/.gitkeep
!build/icon.ico
!build/icon.png
release/
*.asar

# IDE
.idea/
.vscode/
*.sublime-*

# Logs
logs/
*.log
